body{
    background-color:0f0f0f;
}
h1{
    text-align: center;
   background-color: #DFF6FF;
}
h2{
    color: #DFF6FF;
}
p{
    font-size: larg;
    text-align: center;
    font-weight: bold;
}
img{
    max-width: 25%;
    max-height: 25%;
}
ol li{
    font-size: 30px;
    color: blueviolet;
    
}
ul li{
    color: aqua;
    font-weight: bold;
    text-align: center;
    background-color: yellow;
}
.enviar{
    border-radius: 5px;
    background-color: rgb(0,0,225);
}
.etiqueta{
    background-color: blue;
    
}
.sesion{
    border-radius: 10px;
    color: #000000;
    background-color: #ffffff;
}
.registro{
    border-radius: 10px;
    color: #000000;
    background-color: #ffffff;
}