:root{
    --white:#FFFFFF;
    --black:#000000;
    --purple: #6F2CFF;
    --ligth-putple:#EFE9F9;
    --red-heart:#A50954;
    --blue-heart:#ACD9B2;
    --sm:14px;
    --md:20px;
    --lg:60px;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;.

}
.card-container {
    display: flex;
    align-items: center;
    margin: 16px 0 16px 0;
}
/*

Selectores de tipo
*/
div {
    background: pink;
}

/*
Selectores de clase
*/

.enlace {
    color: blueviolet
}

/*
Selectores de id
*/


/*
Selectores de atributo
*/

/*
Selectores combinadores descendientes
*/

/*
Selectores combinadores de hijo directo
*/


/*
Selectores combinadores de hijo directo
*/

/*
Selectores combinadores de elemento adyacente
*/

/*
Selectores combinadores general de hermanos
*/
